body{
    font: Roboto;
}

header{
    background-color: #1F2937;
}

.hero #hero_main_text {
    size: 48px;
    color: #F9F1F8;
    font-weight: 900;
}
#main_nav {
    display: flex;

}
.nav_link{
    display: flex;
}
#hero_second_text, .nav_link {
    size: 18px;
    color: #E5E7EB;
}
#logo_text {
    size: 24px;
    color: #F9FAF8;
}